__pycache__/
apache-opennlp-1.7.2/
workdir/
output/*.txt
input/
tomita/utilities/
tomita/tests/
tomita/*.bin
tomita/tomitaparser.exe
tomita/rules/*.bin
tools/tomita/tomitaparser.exe
output/Evaluation_tool/testdata/
tools/tomita/output/
tools/rco/output/
